[submodule "bash/bash-guide"]
	path = bash/bash-guide
	url = https://github.com/Idnan/bash-guide.git

[submodule "clojure/clojure-code-demo"]
	path = clojure/clojure-code-demo
	url = https://github.com/indiejames/clojure-code-demo.git

[submodule "julia/JuliaByExample"]
	path = julia/JuliaByExample
	url = https://github.com/samuelcolvin/JuliaByExample.git

[submodule "javascript/TheSuperTinyCompiler"]
	path = javascript/TheSuperTinyCompiler
	url = https://github.com/thejameskyle/the-super-tiny-compiler

[submodule "javascript/ItsyBitsyDataStructures"]
	path = javascript/ItsyBitsyDataStructures
	url = https://github.com/thejameskyle/itsy-bitsy-data-structures

[submodule "javascript/backpropNEAT"]
	path = javascript/backpropNEAT
	url = https://github.com/hardmaru/backprop-neat-js

[submodule "python/algorithms"]
	path = python/algorithms
	url = https://github.com/keon/algorithms

[submodule "python/pyCrumbs"]
	path = python/pyCrumbs
	url = https://github.com/kirang89/pycrumbs

[submodule "python/Heroku"]
	path = python/Heroku
	url = https://github.com/heroku/python-getting-started.git


[submodule "python/kerasDeepLearning"]
	path = python/kerasDeepLearning
	url = https://github.com/leriomaggio/deep-learning-keras-tensorflow

[submodule "python/tensorFlowTutorials"]
	path = python/tensorFlowTutorials
	url = https://github.com/Hvass-Labs/TensorFlow-Tutorials
	
[submodule "python/tensorFlowExamples"]
	path = python/tensorFlowExamples
	url = https://github.com/aymericdamien/TensorFlow-Examples

[submodule "python/pytudes"]
	path = python/pytudes
	url = https://github.com/norvig/pytudes.git
[submodule "python/cl-chess"]
	path = python/cl-chess
	url = https://github.com/marcusbuffett/command-line-chess.git
[submodule "bash/git-jack"]
	path = bash/git-jack
	url = https://github.com/tardypad/github-jack.git
[submodule "markdown/e-p-s-k"]
	path = markdown/e-p-s-k
	url = https://github.com/mtdvio/every-programmer-should-know.git
